<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="100.0.14" targetFramework="net461" />
  <package id="cef.redist.x86" version="100.0.14" targetFramework="net461" />
  <package id="CefSharp.Common" version="100.0.140" targetFramework="net461" />
  <package id="CefSharp.WinForms" version="100.0.140" targetFramework="net461" />
  <package id="Microsoft.Web.WebView2" version="1.0.1518.46" targetFramework="net461" />
</packages>